body{
    background-color: #ece9e6;
    color: #333;
}
div.header{
    font-size: 20px;
    font-family: Playfair Display,Georgia,Times New Roman,Times,serif;
    color: #333;
}
img.simpson{
    width:40px;
    height: 40px;
    vertical-align:middle;
}
th.index{
    text-align: left;
}

.colors {
    float: left;
    width: 15px;
    height: 15px;
    font-weight: normal;
}
  
.green {
    background: #228B22;
}

.blue{
    background: #1E90FF;
}

.orange{
    background: #ffa07a;
}

.red{
    background: #ff0000;
}

.black{
    background: #000000;
}
.purple{
    background: #9370DB;
}
.lightblue{
    background: #87CEFA;
} 

table{
    table-layout: fixed;
    font-size: 16px;
    color: #333;
    border-collapse: collapse;
    margin:5px;
}
#inputTable th {
    border-bottom: 1px solid #ddd;
    text-align: left;
}
#inputTable td{
    border-bottom: 1px solid #ddd;
    text-align: right;
}
tr.border_bottom{
    border-bottom: 2px solid black;
}

#button{
    width:30px;
    height:30px;
    display: block;
    margin: 0 auto;
}

img {
    max-width: 5%;
    height: auto;
}
#barbutton{
    transform: rotate(90deg) scaleX(-1);
}
#pieChart {
    width: 600px;
    height: 600px;
  }

#barChart {
    width: 600px;
    height: 600px;
    visibility: hidden;
    display: none;
  }