body{
    background-color: "#ece9e6";
}
th.index{
    text-align: left;
}

.colors {
    float: left;
    width: 15px;
    height: 15px;
}
  
.green {
    background: #228B22;
}

.blue{
    background: #1E90FF;
}

.orange{
    background: #ffa07a;
}

.red{
    background: #ff0000;
}

.black{
    background: #000000;
}
.purple{
    background: #9370DB;
}
.lightblue{
    background: #87CEFA;
} 

#inputTable th {
    border-bottom: 1px solid #ddd;
    text-align: left;
}
#inputTable td+td,
#inputTable th+th {
    border-bottom: 1px solid #ddd;
    text-align: right;
}


#button{
    width:30px;
    height:30px;
    display: block;
    margin: 0 auto;
}
img {
    max-width: 5%;
    height: auto;
}
#barbutton{
    transform: rotate(90deg) scaleX(-1);
}
#pieChart {
    width: 600px;
    height: 600px;
  }

#barChart {
    width: 600px;
    height: 600px;
    visibility: hidden;
    display: none;
  }